<ion-view title="New Call">

    <ion-content class="has-header">
  <label class="error" style="color:#B83E2C;">{{newcallmessage}}</label>
      <div class="padding">

<label class="item item-input item-select">
<div class="input-label">
Department
</div>
<select ng-model="DepartmentID" ng-change="changedepartment(DepartmentID)">
<option ng-repeat="department in departmentlist" value="{{department.DepartmentID}}">{{department.Department}}</option>
</select>
</label>
</div>

<div class="padding">

<label class="item item-input item-select">
<div class="input-label">
Asset*
</div>
<select ng-model="objcall.AssetID" >
<option ng-repeat="asset in Assetslist" value="{{asset.AssetID}}">{{asset.Asset}}</option>
</select>
</label>

</div>


<div class="padding">

<label class="item item-input item-select">
<div class="input-label">
Fault*
</div>
<select  ng-model="objcall.CommonFaultID">
<option ng-repeat="fault in faultlist" value="{{fault.CommonFaultID}}">{{fault.CommonFault}}</option>
</select>
</label>

</div>

<div class="padding">

<label class="item item-input item-select">
<div class="input-label">
Owner
</div>
<select ng-model="objcall.OwnerLoginID">
<option ng-repeat="owner in ownerlist" value="{{owner.OwnerLoginID}}">{{owner.OwnerLogin}}</option></select>
</label>

</div>

<div class="padding">

<label class="item item-input">
   <textarea placeholder="Text*" ng-model="objcall.Fault"></textarea>
 </label>
</div>

<div class="padding">
   <ion-checkbox  ng-model="objcall.IsDowntime" ng-checked="IsDowntime" class="checkbox-assertive" >Causes Downtime</ion-checkbox>

 </div>
 <div class="padding">
     <button nav-clear class="button button-block button-positive" ng-click="addcalltoservice(objcall)">
         Save
     </button>

 </div>
    </ion-content>


</ion-view>
