<ion-view title="My Open Calls"  cache-view="false">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="has-header">
        <ion-list>
            <div ng-repeat="(department, calllist) in calllists| groupBy:'department'">
            <div class="item item-divider"> {{department}}</div>
                <ion-item  ng-repeat="callist in calllist" ng-click="Updatecall(callist)">
                  <div class="item-icon-left">
                    <div  ng-if="callist.IsDowntime == 0">
                        <i class="icon ion-android-alert balanced"></i>
                    </div>
                    <div ng-if="callist.IsDowntime == 1">
                  <i class="icon ion-android-alert assertive"></i>
                  </div>
                <h2> {{callist.Fault}}</h2>
                <h4> {{callist.Asset}}</h4>
                <p my-directive></p>
                   </div>

                </ion-item>
           </div>
        </ion-list>


    </ion-content>


    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-plus" ng-click="AddCall('add')"></a>
        <!--Basic: auto-select the icon based on the platform -->

        <!--<ion-icon name="add"></ion-icon>-->

    </ion-nav-buttons>
</ion-view>
