<ion-view title="Settings">

    <ion-content class="has-header">
  <label class="error" style="color:#B83E2C;">{{settingsmessage}}</label>
<div class="padding">

<label class="item item-input">
   <input type="text" placeholder="Backend Host*" ng-model="objsettings.host" id="txthost" />
 </label>
</div>
<div class="padding">
    <button nav-clear class="button button-block button-positive" ng-click="SaveSettings(objsettings)">
        Save
    </button>

</div>
    </ion-content>


</ion-view>
