<ion-view title="{{name}}">

    <ion-content class="has-header">



        <div class="padding">
          <label class="item item-input">
          <span class="input-label">Asset:</span>
          <input type="text" value="1003">
        </label>
        </div>




        <div class="padding">
          <label class="item item-input">
          <span class="input-label">Fault:</span>
          <input type="text" value="Air Leak">
        </label>
        </div>


        <div class="padding">
        <label class="item item-input">
           <textarea placeholder="Fault Text" ng-model="updatecall.Comments"></textarea>
         </label>
        </div>


<div class="padding">

<label class="item item-input item-select">
<div class="input-label">
Owner
</div>

<select  ng-model="updatecall.OwnerLoginID">
<option ng-repeat="owner in ownerlist" value="{{owner.OwnerLoginID}}" >{{owner.OwnerLogin}}</option>
</select>

</label>

</div>

<div class="padding">
  <label class="item item-input item-select">
  <div class="input-label">
  State
  </div>

  <select ng-model="updatecall.FaultStatusID">
  <option ng-repeat="status in statuslist" value="{{status.FaultStatusID}}" >{{status.FaultStatus}}</option>
 </select>
  </label>

</div>

<div class="padding">

  <label class="item item-input">
     <textarea ng-model="descritpion" ></textarea>
   </label>
 </div>
 <div class="padding">
     <button nav-clear class="button button-block button-positive" ng-click="UpdateFaultService(updatecall)">
         Save
     </button>

 </div>
    </ion-content>


</ion-view>
